.App {
  width: 800px;
  min-height: 600px;
  margin-top: 100px;
  padding: 40px;
}

.App-header {
  text-align: center;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.col-left {
  background-color: #D3D3D3;
}

.col-right {
  text-align: center;
}

.task-list {
  padding-left: 20px;
}

@media (max-width: 650px) {
  .App {
    margin: 20px 20px 0;
    width: auto;
  }
}
